body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #A0DAA9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.LoginForm
{
    width: 70%;
    height: auto;
    margin: 10% auto;
    padding: 1%;

}
.song
{
    padding : 1%;
}